nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 20px;
    padding: 20px;
}

nav li:hover {
    background-color: cornflowerblue;
}

nav li a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

nav>ul>li:hover>ul {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: rgb(180, 204, 250);
    padding: 0;
}

.dropdown li {
    margin: 0%;
    padding: 7px 0%;
    padding-left: 5px;
    padding-right: 5px;
}

table,
th,
td {
    border-collapse: collapse;
    border: 3px solid gray;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
}

@keyframes abc {
    from {
        background-color: lightgreen;
        top: 0;

    }

    to {
        background-color: aqua;
        top: 500px;
    }
}

.hot {
    width: 700px;
    height: 600px;
    border: 2px solid;
    background-color: lightcoral;
}

.cool {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border-radius: 50%;
    border: 2px solid;
    position: relative;
    animation: abc 1s ease-in-out 0.5s infinite alternate;
    animation-play-state: running;
}